## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [1]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
!pip install -U finance-datareader

Requirement already up-to-date: finance-datareader in /opt/anaconda3/lib/python3.7/site-packages (0.9.33)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /opt/anaconda3/lib/python3.7/site-packages (from finance-datareader) (0.25.1)
Requirement already satisfied, skipping upgrade: tqdm in /opt/anaconda3/lib/python3.7/site-packages (from finance-datareader) (4.36.1)
Requirement already satisfied, skipping upgrade: requests-file in /opt/anaconda3/lib/python3.7/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from finance-datareader) (2.22.0)
Requirement already satisfied, skipping upgrade: lxml in /opt/anaconda3/lib/python3.7/site-packages (from finance-datareader) (4.4.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->finance-datareader) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->finance-datareader) (1.17.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.0)
Requirement already satisfied, skipping upgrade: six in /opt/anaconda3/lib/python3.7/site-packages (from requests-file->finance-datareader) (1.12.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (2019.9.11)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (1.24.2)

## 라이브러리 불러오기

In [2]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [3]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr

## 한국거래소 상장종목 전체 가져오기

In [4]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.
fdr.StockListing??

In [7]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목

In [ ]:
# 한국거래소 상장종목 전체 가져오기
df = fdr.StockListing("krx")

In [8]:
# 행과 열의 크기를 봅니다.(행, 열) 순
df.shape

(7307, 10)

In [9]:
# 전체 데이터프레임의 요약정보를 봅니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7307 entries, 0 to 7306
Data columns (total 10 columns):
Symbol            7307 non-null object
Market            7307 non-null object
Name              7307 non-null object
Sector            2500 non-null object
Industry          2483 non-null object
ListingDate       2500 non-null datetime64[ns]
SettleMonth       2500 non-null object
Representative    2500 non-null object
HomePage          2347 non-null object
Region            2500 non-null object
dtypes: datetime64[ns](1), object(9)
memory usage: 627.9+ KB

In [11]:
# 기술통계 값을 요약합니다.

df.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7307,7307,7307,2500,2483,2500,2500,2500,2347,2500
unique,7307,3,7307,161,2327,1859,9,2384,2326,22
top,57GX95,KOSPI,KBSTAR iSelect메타버스,소프트웨어 개발 및 공급업,기업인수합병,1996-07-03 00:00:00,12월,-,http://www.chosunwelding.com,서울특별시
freq,1,5608,1,152,28,8,2438,4,2,1022
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-05-16 00:00:00,NaN,NaN,NaN,NaN

## 파일로 저장하고 불러오기

<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [ ]:
# head 로 미리보기

In [17]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df.to_csv("krx.csv", index=False)

In [18]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7302,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7303,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7304,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7305,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7306,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [24]:
df[df["Name"] == "대한항공"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
2270,003490,KOSPI,대한항공,항공 여객 운송업,"여객운송,화물운송,항공기 제조,판매,정비수리/기내식 제조판매,면세품 판매",1966-03-18,12월,"조원태, 우기홍",http://www.koreanair.com,서울특별시

In [25]:
fdr.DataReader("003490","2020")

             Open   High    Low  Close   Volume    Change
Date
2020-01-02  18479  18511  17993  18058   303459 -0.022835
2020-01-03  18155  18252  17668  17701   572272 -0.019770
2020-01-06  17409  17571  16858  17183   690224 -0.029264
2020-01-07  17182  17604  17117  17410   388103  0.013211
2020-01-08  17150  17312  16826  17053   676198 -0.020505
...           ...    ...    ...    ...      ...       ...
2022-05-10  29000  29550  28550  29350  1729641 -0.008446
2022-05-11  29450  29550  29200  29400   763049  0.001704
2022-05-12  29100  29200  28450  28450  1803801 -0.032313
2022-05-13  28450  29150  28450  29150   994000  0.024605
2022-05-16  29300  29450  28900  28900   962320 -0.008576

[586 rows x 6 columns]